@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --volo-app-bar-height: 60px;
}

input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50; */
  opacity: 0;
}

input[type="range"]::-moz-range-thumb {
  opacity: 0;
}
